.appContainer {
  background-color: #b7e3fe;

  .appWrapper {
    background-color: #3576ef;
    border-radius: 10px;

    .firstCol {
      .logoRow {
        height: 15%;
      }
      .menuRow {
        height: 70%;
      }
      .photoRow {
        height: 15%;
      }
    }

    .secondCol {
      .searchRow {
        height: 7.5%;
      }
      .convRow {
        height: 7.5%;
      }
      .selectRow {
        height: 5%;
      }
      .groupsRow {
        height: 80%;
      }
    }

    .thirdCol {
      .chatInfo {
        height: 15%;
      }
      .chatMessages {
        height: 70%;
      }
      .chatInput {
        height: 15%;
      }
    }
  }
}
