.appContainer {
  background-color: #b7e3fe;

  .appWrapper {
    background-color: #3576ef;
    border-radius: 10px;
    border:solid thick #3576ef;
    
    .firstCol {
      .logoRow {
        height: 15%;

        .logo {
          font-size: 50px;
          color: rgb(226, 192, 236);
        }
      }
      .menuRow {
        height: 70%;

        .menuList {
          list-style: none;

          .menuItem {
            margin-bottom: 20px;

            .menuItemIcon {
              font-size: 30px;
              color: white;
            }
          }
        }
      }
      .photoRow {
        height: 15%;

        .profilePhoto {
          height: 40px;
          width: 40px;
          border: solid thin white;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .secondCol {
      .searchRow {
        height: 7.5%;

        .searchInput {
          width: 100%;
          border: none;
          background-color: #dee2e6;
          border-radius: 5px;
          margin: 4px;

          &:focus {
            outline: none;
          }
        }
      }
      .convRow {
        height: 7.5%;

        .convSpan{
            font-weight: 500;
            font-size: 20px;
            color:rgb(226, 192, 236);
        }
      }
      .selectRow {
        height: 5%;

        .selectionList{
            list-style: none;
            font-weight: 100;
            font-size: 15px;
            color: white;
        }
      }
      .groupsRow {
        height: 80%;
      }
    }

    .thirdCol {
      .chatInfo {
        height: 11.25%;
      }
      .chatMessages {
        height: 73.75%;
      }
      .chatInput {
        height: 15%;

        .inputEmoji {
          height: 30%;
        }
        .inputText {
          height: 70%;
        }
      }
    }
  }
}
