.appContainer {
  background-color: #b7e3fe;

  .appWrapper {
    background-color: #3576ef;
    border-radius: 10px;

    .logoRow {
      height: 15%;
    }
    .menuRow {
      height: 70%;
    }
    .photoRow {
      height: 15%;
    }
  }
}
